body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

#genre-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.genre-btn {
    background: #333;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.genre-btn.active {
    background: #ff5733;
}

button {
    background-color: #ff5733;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

#movie-poster {
    width: 300px;
    margin-top: 15px;
    border-radius: 10px;
}

.hidden {
    display: none;
}
